

body {
  color: pink;
  background: #505;
  font-family: forte;
}
input {color: inherit;}
.form {
  width: var(--form-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  
    padding: 0px; 
  }


  #us{background-color: transparent;}
  #ps{background-color: transparent;}
  .form_inputs{
    border-bottom: 1px solid;
      color: inherit; 
     

  }


  .form_button{
     width: 100%;
    height: 36px;
    margin-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    border-radius: 2px;
    color: white;
    background: purple;
    box-shadow:2px 2px 2px var(--primary-color-dark);
  }
 
 

a { color: inherit; } 
.form_other {
  font-color:#999;  
  font-family: forte;
  
  }
  